---
title: Joseph D. Van Alstyne
---

<h1>
  Joseph D. Van Alstyne
</h1>
<h2>
  software developer
</h2>
<h3>
  current projects
  <ul>
    <li>
      <%= link_to(
          "oriori",
          "https://oriori.app",
          target: "_blank"
        ) %>
    </li>
    <li>
      <%= link_to(
        "task bud",
        "https://taskbud.app",
        target: "_blank"
      ) %>
    </li>
    <li>
      <%= link_to(
        "this website (work in progress)",
        "#"
      ) %>
    </li>
    <li class="stricken">unannounced project</li>
  </ul>
</h3>
<h3 class="stricken">
  resume
</h3>
<h3>
  <%= link_to(
    "LinkedIn",
    "https://www.linkedin.com/in/jvanalstyne",
    target: "_blank"
  ) %>
</h3>
<h3>
  <%= link_to(
    "personal blog",
    "https://blog.kappanjoe.com",
    target: "_blank"
  ) %>
</h3>
<h3 class="stricken">
  contact me
</h3>
